/*
    red:    #FF5349
    blue:   #4F80E1
    grey:  #f0f0f1
    purple: #292C44
    black:  #302D33
*/
body{
    background-color: #292C44;
    color:              #f0f0f1;
}
.red    {
    background-color: #FF5349;
}
.blue   {
    background-color: #4F80E1;
}
.grey  {
    background-color: #f0f0f1;
}
.purple {
    background-color: #292C44;
}
.black  {
    background-color: #302D33;
}
.ligth-text{
    color: #f0f0f1;
}
.card{
    background-color: #f0f0f1;
    color: #302D33;
}

.card.with-badge .badge span{
    background-color: #FF5349;
    color: #f0f0f1;
}