/* You can add global styles to this file, and also import other style files */
@import './styles/colors.css';
@import './styles/default.css';
.large-padding{
    padding:10px 15px;
}
.lateral-padding{
    padding: 0 8px;
}
.float-right{
    float: right;
}
.small-font{
    margin-left: 5px;
    font-size: 0.8rem;
}
.main-nav .float-right a {
    margin-left: 1em;
}
.main-nav a {
    text-decoration: none;
}
.form-control{
    width: 100%;
    outline: 0;
    border: 0;
    display: block;
    padding: 10px 15px;
    margin-top: 1em;
    font-size: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-sizing: border-box;
}
.full-width{
    width: 100%;
}
.top-space{
    margin-top: 1em;
}
.btn{
    border: 0;
    outline: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 1em;
    padding: 1em 1.5em;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
}
.text-right{
    text-align: right;
}
.no-background{
    background: transparent;
}
button.no-background{
    font-size: 1em;
    outline: 0;
    border:0;
}
.overflow-hidden{
    overflow: hidden;
}
.pointer{
    cursor: pointer;
}
.card{
    border: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-sizing: border-box;
    position: relative;
}
.card.with-badge{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "title title title title title title title title badge bagde";
    align-items: center;
}

.card.with-badge h4{
    grid-area: title;
}

.card.with-badge .badge{
    grid-area: badge;
    display: flex;
    justify-content: flex-end;
}

.card.with-badge .badge span{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-card{
    position: relative;
}
.todo-card::after{
    position: absolute;
    z-index: -1;
    content: '\f00c';
    font-family: FontAwesome;
    font-weight: bold;
    color: #18CDCA;
}